@import "../assets/mixins.scss";
@import "../assets/variables.scss";

main {
    display: grid;
    justify-content: center;
    width: 100&;

    section {
        margin-bottom: 2.5rem;
    }

    .Omos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center;
        padding: 0 5rem;
        gap: 3rem;

        h3 {
            color: $green;
        }

        .Line {
            width: 100%;
            height: 0.2rem;
            background: -webkit-linear-gradient(left, $green 50%, #d0d0d0 50%);
        }

        button {
            @include buttonstyle;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .TureLinks {
        display: flex;
        gap: 3rem;
        justify-content: center;
        margin-top: -2rem;
        z-index: 100;

        a {
            text-decoration: none;
        }

        .ImageContainer {
            width: 20rem;
            height: 25rem;
            overflow: hidden;
            color: white;
            display: grid;

            .HoverImage {
                width: 100%;
                height: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: end;
                grid-area: 1/1/1/1;
                transition: all 1s;
            }
            h3{
                grid-area: 1/1/1/1;
                z-index: 10;
                justify-self: center;
                align-self: end;
            }

            .HoverImage:hover {
                transform: scale(1.2);
            }
        }


    }

    #Team {
        h2 {
            text-align: center;
            font-size: 2rem;
        }

        h4 {
            color: $green;
        }

        .TeamGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-items: center;
            text-align: center;
        }
    }

    .Nyhedsbrev {
        height: 25rem;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 3rem;
            margin: 0;
        }

        form button {
            @include buttonstyle;
            width: 5rem;
        }

        form input {
            height: 3rem;
            margin-right: 0.5rem;
            border: none;
            padding: 0 0 0 0.5rem;
            background-color: rgba(156, 154, 151, .5);
            color: #fff;
        }
    }

}