@import "../assets/variables.scss";
@import "../assets/mixins.scss";


footer {
    .Foot1 {
        background-color: $backlight;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;

        a {
            color: white;
            text-decoration: none;
        }
        ul {
            padding: 0;
        }
        .Contact ul{
            list-style-type: none;
            li svg {
                color:$green;
            }
        }
        .ArtLinks {
            padding-right: 10rem;
        }
        .Links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 150%;
            list-style-type: none;
            a:hover {
                color: $green;
            }
            svg {
                color: $green;
                font-size: 0.5rem;
                padding: 0 0.5rem 0.15rem 0;                
            }
        }


        button {
            @include buttonstyle;
            margin-bottom: 3rem;
        }
    }
    .Foot2 {
        background-color: $backdark;
        font-size: 0.8rem;
        color: #586874;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        padding-left: 5rem;

        ul {
            display: flex;
            list-style-type: none;
            justify-self: center;
            a {
                color: #586874;
            }
            li {
                padding-right: 1rem;
            }
        }

        button {
            @include buttonstyle;
            width: 3rem;
            height: 3rem;
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            a {
                text-decoration: none;
                color: white;
                height: 3rem;
                width: 3rem;
            }
        }
    }
}