.Logo {
    padding: 0.5rem 5rem;
}
.Burger {
    display: none;
}
nav {
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    justify-content: space-between;
    background-color: #142E42;
    padding: 0 5rem;
}
.InternalNav {
    margin-right: auto;
    padding-left: 0;
    li {
        padding-right: 2rem;
        text-align: center;
    } 
}
nav ul {
    display: flex;
    list-style: none;
    .active {
        background-color: #32475B;
    }
    li:hover {
        background-color: #32475B;
    }
    li {
        padding-right: 0.5em;
        text-align: center;

    a {
        text-decoration: none;
        color: white;
        }
}
}
@media (max-width: 799px){

}

