@import "../assets/variables.scss";

.Logo {
    padding: 0.5rem 5rem;
}

.Burger {
    display: none;
}

nav {
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    justify-content: space-between;
    background-color: #142E42;
    padding: 0 5rem;
    height: 3.5rem;
}

.InternalNav {
    margin: 0 auto 0 0;
    padding-left: 0;
    display: flex;
    list-style: none;

    li {
        margin-right: 2rem;
        text-align: center;
        height: 100%;
        display: flex;
    }

    .Dropdown {
        position: relative;
        display: inline-block;

        .DropdownContent {
            display: none;
            position: absolute;
            top: 3.5rem;
            left: 0;
            z-index: 1;
            list-style-type: none;
            background-color: white;
            color: #142E42;
            min-width: 5rem;
            padding: 12px 16px;

            a {
                color: #142E42;
                display: block;
                text-decoration: none;
            }
        }
    }

    .Dropdown:hover .DropdownContent {
        display: block;
    }

   .NavLi > .active {
        background-color: #32475B;
    }

    .NavLi > a {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 1rem 1rem 0 1rem;
        position: relative;

    }
    .NavLi > a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 0.2rem;
        top: 0;
        left: 0;
        background-color: $green;
        transform-origin: top right;
        transition: transform 0.25s ease-out;    
    }
    .NavLi > a:hover:after {
        transform: scaleX(1);
        transform-origin: top left;
    }

    .NavLi > a:hover {
        background-color: #30455a;
    }

}

.ExternalNav {
    display: flex;
    list-style: none;

    li {
        padding-right: 0.5em;
        text-align: center;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: #00b3a7;
        }
    }
}

@media (max-width: 799px) {
    .Burger {
        color: $green;
        display: flex;
        z-index: 1000;
        position: absolute;
        left: 1rem;
        top: 2.4rem;
        text-align: center;
        font-size: 48px;
        z-index: 100;
    }

    .InternalNav {
        display: none;
        font-size: 2rem;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        width: 50vw;
        background-color: #989BA4;
        line-height: 2;
        z-index: 10;
    }
}